body {
    font-family: Arial, sans-serif;
}

.hero {
    background: url('https://source.unsplash.com/1600x900/?school') center/cover no-repeat;
    color: black;
    padding: 100px 0;
}

.card {
    text-align: center;
    margin-top: 20px;
}

footer {
    margin-top: 50px;
}

.navbar-logo {
    height: 150px; /* Define a altura */
    transition: transform 0.3s ease-in-out; /* Animação ao passar o mouse */
}

.navbar-logo:hover {
    transform: scale(1.1); /* Aumenta um pouco ao passar o mouse */
    opacity: 0.8; /* Deixa um pouco transparente */
}

li {
    color: #0D6EFD;
}
